@import url(variables.css);
@font-face {
    font-family: "Poppins";
    src: url(../storage/font/);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background-image: linear-gradient(to bottom right, #C8CCCF, #97A3A3);
}

h1 {
    color: #252525;
    font-size: 70px;
}

p{
    color: #252525;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 120px;
    
}

button {
    padding: 20px 60px;
    background-color: #252525;
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: auto;
    font-size: 20px;
}

.grid1 {
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 45%;
    margin-bottom: 50px;
    margin-top: 70px;
}

.up {
    display: flex;
}
.text {
}
.container__img1 {
    position: relative;
}
.down {
    display: flex;
}
.container__img2 {
}
.container__text {
}
