@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid1 {
    background-color: blueviolet;
    margin: 0 auto;
}

.grid2 {
    width: 80%;
    background-color: blueviolet;
    margin: 0 auto;
}

.Texto {
    width: 150px;
    height: 150px;
    border: solid 4px black;

}
.Imagenes1 {
}
.Imagenes2 {
}
